absl-py==0.8.1
altgraph==0.17
asgiref==3.3.1
astor==0.8.0
astunparse==1.6.3
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
certifi==2019.9.11
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
cx-Freeze==6.5.3
cycler==0.10.0
Django==3.1.7
dlib==19.18.0
Eel==0.14.0
flatbuffers==1.12
future==0.18.2
gast==0.2.2
greenlet==1.0.0
grpcio==1.24.1
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
imutils==0.5.3
joblib==1.0.1
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
macholib==1.14
Markdown==3.1.1
mock==3.0.5
mtcnn==0.0.9
numpy==1.17.3
oauthlib==3.1.0
onnx==1.6.0
onnx-tf==1.3.0
onnxruntime==0.5.0
opencv-contrib-python==4.5.1.48
opencv-python==4.1.1.26
opt-einsum==3.1.0
pefile==2019.4.18
Pillow==8.1.0
protobuf==3.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.1.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scikit-learn==0.24.1
scipy==1.6.0
six==1.12.0
sklearn==0.0
sqlparse==0.4.1
tensorboard==1.13.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.13.1
tensorflow-addons==0.12.1
tensorflow-cpu==2.4.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tflearn==0.5.0
threadpoolctl==2.1.0
tqdm==4.56.2
typeguard==2.11.1
typing-extensions==3.7.4
urllib3==1.26.3
Werkzeug==0.16.0
whichcraft==0.6.1
wincertstore==0.2
wrapt==1.11.2
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
